@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #leftmenu a {
    @apply flex flex-1 w-full p-2 px-4 mb-1 rounded-md cursor-pointer hover:bg-gray-100;
  }

  #leftmenu a.active {
    @apply bg-yellow-200;
  }
  h2 {
    @apply text-xl;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 25px 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 25px 0;
}

p {
  margin: 20px 0;
}

#maincontent ul {
  list-style-type: circle;
  margin-left: 20px;
}
